@media (-webkit-min-device-pixel-ratio:1.5),(min-device-pixel-ratio:1.5)
  .border-1px
    &::after
      transform: scaleY(.7)
@media (-webkit-min-device-pixel-ratio:2),(min-device-pixel-ratio:2)
  .border-1px
    &::after
      transform: scaleY(.7)
body,html
  height:100%
  line-height: 1
  font-weight: 200
  font-family: 'PingFang SC', 'STHeitiSC-Light','Helvetica-Light',Arial, Helvetica, sans-serif
.clearfix
  display: inline-block
  &:after
    display: block
    content:'.'
    height: 0
    line-height: 0
    clear: both
    visibility: hidden


.fade-enter-active, .fade-leave-active {
  transition: opacity .7s
}
.fade-enter, .fade-leave-to /* .fade-leave-active in <2.1.8 */ {
  opacity: 0
}


.flexVerticalCenter
  display: flex
  // justify-content: center
  align-items: center
